node_modules/
*.cache
.DS_Store
Thumbs.db
.idea/
.tlrc/
*.sublime-project
*.sublime-workspace
*.log
.eslintcache
vscode/**/History/
vscode/**/globalStorage/*
!vscode/User/globalStorage/kilocode.kilo-code
vscode/User/globalStorage/kilocode.kilo-code/*
!vscode/User/globalStorage/kilocode.kilo-code/settings
vscode/**/workspaceStorage/
tilde/Brewfile.lock.json
lazygit/state.yml
washingcode-book-master/
sapegin.me-master/
brain/book/
brain/blog/
brain/drafts/
brain/articles/
colors/shiki/SquirrelsongLight.color-theme.json
