<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustWindowForFontSizeChange</key>
	<false/>
	<key>AllowClipboardAccess</key>
	<false/>
	<key>AnimateDimming</key>
	<false/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AutoHideTmuxClientSession</key>
	<false/>
	<key>CheckTestRelease</key>
	<true/>
	<key>ClosingHotkeySwitchesSpaces</key>
	<true/>
	<key>CommandSelection</key>
	<true/>
	<key>Control</key>
	<integer>1</integer>
	<key>CopyLastNewline</key>
	<false/>
	<key>CopySelection</key>
	<true/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Squirrelsong</key>
		<dict>
			<key>ANSIBlackColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhACTxAnMC4zODI1MjczNzIz
			IDAuMjU2MTcwNzQ1NyAwLjExMTc2MzE3MjQA0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhPXGJkZpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIBlueColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhACTxAcMCAwLjI2NDc2Mzkx
			MTEgMC41MzMwNDYzMDQ3ANIQERITWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEXGFRyb290gAEIERojLTI3O0FIT1xiZGaFipWepqmyxMfMAAAA
			AAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>ANSICyanColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhACTxAcMCAwLjM3NTE2NzAw
			MzQgMC40MDQwMjYwMDM2ANIQERITWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEXGFRyb290gAEIERojLTI3O0FIT1xiZGaFipWepqmyxMfMAAAA
			AAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>ANSIGreenColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhACSTAgMC4zOCAwANIQERIT
			WiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVj
			dF8QD05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FI
			T1xiZGZwdYCJkZSdr7K3AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAALk=
			</data>
			<key>ANSIMagentaColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhACTxAcMC41MzAzMzc1OTEy
			IDAgMC4zNzA0NzI5MzU0ANIQERITWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEXGFRyb290gAEIERojLTI3O0FIT1xiZGaFipWepqmyxMfMAAAA
			AAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>ANSIRedColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhACTxAVMC41NSAwLjA5MTY2
			NjY2NjY3IDAA0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0Nv
			bG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJv
			b3SAAQgRGiMtMjc7QUhPXGJkZn6Djpefoqu9wMUAAAAAAAABAQAA
			AAAAAAAZAAAAAAAAAAAAAAAAAAAAxw==
			</data>
			<key>ANSIWhiteColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhACTxAZMSAwLjg1NDE2NjY2
			NjcgMC43NSAwLjc1ANIQERITWiRjbGFzc25hbWVYJGNsYXNzZXNX
			TlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEX
			GFRyb290gAEIERojLTI3O0FIT1xiZGaCh5Kbo6avwcTJAAAAAAAA
			AQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAMs=
			</data>
			<key>ANSIYellowColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhACTxAcMC42NDEzNjYzMzIx
			IDAuNDM2NTMyMDU4NSAwANIQERITWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEXGFRyb290gAEIERojLTI3O0FIT1xiZGaFipWepqmyxMfMAAAA
			AAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>BackgroundBlur</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhABTxAoMC4xMzYwNjk5MjM2
			IDAuMTA4OTQxMzMxNSAwLjA4NzM2OTI0ODI3ANIQERITWiRjbGFz
			c25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05T
			S2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FIT1xiZGaR
			lqGqsrW+0NPYAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAA
			ANo=
			</data>
			<key>Bell</key>
			<false/>
			<key>BlinkText</key>
			<false/>
			<key>CursorBlink</key>
			<false/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhABTxArMC45NzI1NDkwMTk2
			IDAuOTcyNTQ5MDE5NiAwLjk0MTE3NjQ3MDYgMC41ANIQERITWiRj
			bGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8Q
			D05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FIT1xi
			ZGaUmaSttbjB09bbAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAAN0=
			</data>
			<key>CursorType</key>
			<integer>2</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QViRj
			bGFzc1ZOU05hbWVWTlNTaXplWE5TZkZsYWdzgAOAAiNALAAAAAAA
			ABAQWENvbnNvbGFz0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZO
			U0ZvbnSiFRdYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGhtU
			cm9vdIABCBEaIy0yNzxCS1JZYGlrbXZ4gYaRmqGkrb/CxwAAAAAA
			AAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhABTxAqMC4wNjExMzQwNjY0
			MyAwLjA1MTE3NTQwODA3IDAuMDMxNjEwMDEyMDUA0hAREhNaJGNs
			YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAP
			TlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhPXGJk
			ZpOYo6y0t8DS1doAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAA
			AAAA3A==
			</data>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowWindowSettingsNameInTitle</key>
			<true/>
			<key>TerminalType</key>
			<string>ansi</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhABTxAnMC41MTE1NTk5NjMy
			IDAuNDM5MjIxMjMzMSAwLjM1ODEwNTYyOTcA0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhPXGJkZpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OViRjbGFz
			c1xOU0NvbG9yU3BhY2VVTlNSR0KAAhABTxAmMC41MTU4NDU3MTYg
			MC40NDI2NDk1NDMzIDAuMzYxODMwODAwOADSEBESE1okY2xhc3Nu
			YW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tl
			eWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE9cYmRmj5Sf
			qLCzvM7R1gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>UseBoldFonts</key>
			<true/>
			<key>UseBrightBold</key>
			<false/>
			<key>VisualBell</key>
			<true/>
			<key>blackColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg7JNIT2DkvUjPoO+F0s+AYY=
			</data>
			<key>blueColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgyqcAj6DtOHsPoO+RUg/AYY=
			</data>
			<key>brightBlackColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+ZzgjyDs44BPoNahyM+AYY=
			</data>
			<key>brightBlueColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg7yT4T6DEXcCP4POUAQ/AYY=
			</data>
			<key>brightCyanColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg7CIAT+Dj5oQP4N8ShA/AYY=
			</data>
			<key>brightGreenColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgzyujT6DFZy2PoOYFsQ+AYY=
			</data>
			<key>brightMagentaColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgxMjsj6D+uazPoNkyTc/AYY=
			</data>
			<key>brightRedColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgyfkPT+D/15aPoMgl5Y9AYY=
			</data>
			<key>brightWhiteColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg49LfT+D0Dt1P4MGM10/AYY=
			</data>
			<key>brightYellowColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg1MTpj6DeHnQPoPQg+A+AYY=
			</data>
			<key>cyanColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg4VRFj6DfyESP4PkZwY/AYY=
			</data>
			<key>greenColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg9lI5j6DIYkKP4PVjKU8AYY=
			</data>
			<key>keyMapBoundKeys</key>
			<dict>
				<key>$F708</key>
				<string>[25~</string>
				<key>$F709</key>
				<string>[26~</string>
				<key>$F70A</key>
				<string>[28~</string>
				<key>$F70B</key>
				<string>[29~</string>
				<key>$F70C</key>
				<string>[31~</string>
				<key>$F70D</key>
				<string>[22~</string>
				<key>$F70E</key>
				<string>[33~</string>
				<key>$F70F</key>
				<string>[34~</string>
				<key>$F729</key>
				<string>[H</string>
				<key>$F72B</key>
				<string>[F</string>
				<key>$F72C</key>
				<string>[5~</string>
				<key>$F72D</key>
				<string>[6~</string>
				<key>F704</key>
				<string>OP</string>
				<key>F705</key>
				<string>OQ</string>
				<key>F706</key>
				<string>OR</string>
				<key>F707</key>
				<string>OS</string>
				<key>F708</key>
				<string>[15~</string>
				<key>F709</key>
				<string>[17~</string>
				<key>F70A</key>
				<string>[18~</string>
				<key>F70B</key>
				<string>[19~</string>
				<key>F70C</key>
				<string>[20~</string>
				<key>F70D</key>
				<string>[21~</string>
				<key>F70E</key>
				<string>[23~</string>
				<key>F70F</key>
				<string>[24~</string>
				<key>F710</key>
				<string>[25~</string>
				<key>F711</key>
				<string>[26~</string>
				<key>F712</key>
				<string>[28~</string>
				<key>F713</key>
				<string>[29~</string>
				<key>F714</key>
				<string>[31~</string>
				<key>F715</key>
				<string>[32~</string>
				<key>F716</key>
				<string>[33~</string>
				<key>F717</key>
				<string>[34~</string>
				<key>F728</key>
				<string>[3~</string>
				<key>F729</key>
				<string>[1~</string>
				<key>F72B</key>
				<string>[4~</string>
				<key>F72C</key>
				<string>[5~</string>
				<key>F72D</key>
				<string>[6~</string>
				<key>^F702</key>
				<string>[1~</string>
				<key>^F703</key>
				<string>[4~</string>
				<key>~F702</key>
				<string>[1~</string>
				<key>~F703</key>
				<string>[4~</string>
				<key>~F704</key>
				<string>[17~</string>
				<key>~F705</key>
				<string>[18~</string>
				<key>~F706</key>
				<string>[19~</string>
				<key>~F707</key>
				<string>[20~</string>
				<key>~F708</key>
				<string>[21~</string>
				<key>~F709</key>
				<string>[23~</string>
				<key>~F70A</key>
				<string>[24~</string>
				<key>~F70B</key>
				<string>[25~</string>
				<key>~F70C</key>
				<string>[26~</string>
				<key>~F70D</key>
				<string>[28~</string>
				<key>~F70E</key>
				<string>[29~</string>
				<key>~F70F</key>
				<string>[31~</string>
				<key>~F710</key>
				<string>[32~</string>
				<key>~F711</key>
				<string>[33~</string>
				<key>~F712</key>
				<string>[34~</string>
			</dict>
			<key>magentaColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg/4CRz+DBTzdPYMgzt4+AYY=
			</data>
			<key>name</key>
			<string>Squirrelsong</string>
			<key>redColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg6i7UT+DUATePYMl2hA+AYY=
			</data>
			<key>type</key>
			<string>Window Settings</string>
			<key>whiteColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgzqGaj+D2tdjP4NYPUw/AYY=
			</data>
			<key>yellowColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg0DAJT+DB17vPoM4Y8A8AYY=
			</data>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>5199834F-A0AB-408F-B260-1B8E75B4FF9B</string>
	<key>DimBackgroundWindows</key>
	<false/>
	<key>DimInactiveSplitPanes</key>
	<false/>
	<key>DimOnlyText</key>
	<false/>
	<key>DisableFullscreenTransparency</key>
	<false/>
	<key>EnableRendezvous</key>
	<false/>
	<key>FocusFollowsMouse</key>
	<false/>
	<key>FsTabDelay</key>
	<real>1</real>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x64-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>28</integer>
			<key>Text</key>
			<string>5199834F-A0AB-408F-B260-1B8E75B4FF9B</string>
		</dict>
		<key>0x9-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf700-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>34</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HiddenAFRStrokeThickness</key>
	<real>0.0</real>
	<key>HiddenAdvancedFontRendering</key>
	<false/>
	<key>HideActivityIndicator</key>
	<false/>
	<key>HideScrollbar</key>
	<false/>
	<key>HideTab</key>
	<true/>
	<key>HighlightTabLabels</key>
	<true/>
	<key>HotKeyBookmark</key>
	<string>5199834F-A0AB-408F-B260-1B8E75B4FF9B</string>
	<key>HotKeyTogglesWindow</key>
	<false/>
	<key>Hotkey</key>
	<false/>
	<key>HotkeyChar</key>
	<integer>0</integer>
	<key>HotkeyCode</key>
	<integer>0</integer>
	<key>HotkeyModifiers</key>
	<integer>0</integer>
	<key>IRMemory</key>
	<integer>4</integer>
	<key>JobName</key>
	<true/>
	<key>LeftCommand</key>
	<integer>7</integer>
	<key>LeftOption</key>
	<integer>2</integer>
	<key>LoadPrefsFromCustomFolder</key>
	<true/>
	<key>MaxVertically</key>
	<false/>
	<key>NSColorPanelMode</key>
	<string>3</string>
	<key>NSColorPickerSlidersDefaults</key>
	<string>3</string>
	<key>NSNavLastRootDirectory</key>
	<string>~/dotfiles/color/iTerm2</string>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSTableView Columns KeyBingingTable</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErATCG
		</data>
		<string>198</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErATGG
		</data>
		<string>302</string>
	</array>
	<key>NSTableView Hidden Columns KeyBingingTable</key>
	<array/>
	<key>NSTableView Sort Ordering KeyBingingTable</key>
	<array/>
	<key>NSWindow Frame NSColorPanel</key>
	<string>367 342 201 309 0 0 1680 1028 </string>
	<key>NSWindow Frame Preferences</key>
	<string>391 335 924 485 0 0 1680 1028 </string>
	<key>NSWindow Frame iTerm Window 0</key>
	<string>270 -10 1675 995 0 0 1680 1028 </string>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.10980392247438431</real>
				<key>Green Component</key>
				<real>0.25490197539329529</real>
				<key>Red Component</key>
				<real>0.38431373238563538</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.14224191009998322</real>
				<key>Green Component</key>
				<real>0.23358634114265442</real>
				<key>Red Component</key>
				<real>0.7489359974861145</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.162109375</real>
				<key>Green Component</key>
				<real>0.6313319206237793</real>
				<key>Red Component</key>
				<real>0.20980343222618103</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.43529412150382996</real>
				<key>Red Component</key>
				<real>0.64313727617263794</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.78877896070480347</real>
				<key>Green Component</key>
				<real>0.40303680300712585</real>
				<key>Red Component</key>
				<real>0.24099043011665344</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.65308576822280884</real>
				<key>Green Component</key>
				<real>0.22706182301044464</real>
				<key>Red Component</key>
				<real>0.77499294281005859</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5418580174446106</real>
				<key>Green Component</key>
				<real>0.51815295219421387</real>
				<key>Red Component</key>
				<real>0.16043092310428619</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.46562808752059937</real>
				<key>Green Component</key>
				<real>0.57678824663162231</real>
				<key>Red Component</key>
				<real>0.71730053424835205</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Automatically Log</key>
			<false/>
			<key>BM Growl</key>
			<false/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.086274512112140656</real>
				<key>Green Component</key>
				<real>0.10980392247438431</real>
				<key>Red Component</key>
				<real>0.13725490868091583</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Blend</key>
			<real>0.30000001192092896</real>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Blur Radius</key>
			<real>2</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Type</key>
			<integer>1</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Disable Printing</key>
			<false/>
			<key>Disable Smcup Rmcup</key>
			<false/>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.36078432202339172</real>
				<key>Green Component</key>
				<real>0.44313725829124451</real>
				<key>Red Component</key>
				<real>0.51764708757400513</real>
			</dict>
			<key>Guid</key>
			<string>5199834F-A0AB-408F-B260-1B8E75B4FF9B</string>
			<key>Hide After Opening</key>
			<false/>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Text</key>
			<string></string>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Log Directory</key>
			<string></string>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Squirrelsong</string>
			<key>Non Ascii Font</key>
			<string>Consolas 16</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Consolas 16</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<integer>0</integer>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Scrollback With Status Bar</key>
			<false/>
			<key>Scrollback in Alternate Screen</key>
			<true/>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.57558709383010864</real>
				<key>Green Component</key>
				<real>0.68442434072494507</real>
				<key>Red Component</key>
				<real>0.74749529361724854</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.031372550874948502</real>
				<key>Green Component</key>
				<real>0.050980392843484879</real>
				<key>Red Component</key>
				<real>0.062745101749897003</real>
			</dict>
			<key>Semantic History</key>
			<dict>
				<key>action</key>
				<string>best editor</string>
				<key>editor</key>
				<string>com.sublimetext.2</string>
				<key>text</key>
				<string></string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Set Local Environment Vars</key>
			<true/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<true/>
			<key>Smart Cursor Color</key>
			<true/>
			<key>Smart Selection Rules</key>
			<array>
				<dict>
					<key>notes</key>
					<string>Word bounded by whitespace</string>
					<key>precision</key>
					<string>low</string>
					<key>regex</key>
					<string>\S+</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>C++ namespace::identifier</string>
					<key>precision</key>
					<string>normal</string>
					<key>regex</key>
					<string>([a-zA-Z0-9_]+::)+[a-zA-Z0-9_]+</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>Paths</string>
					<key>precision</key>
					<string>normal</string>
					<key>regex</key>
					<string>\~?/?([[:letter:][:number:]._-]+/+)+[[:letter:][:number:]._-]+/?</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>Quoted string</string>
					<key>precision</key>
					<string>normal</string>
					<key>regex</key>
					<string>@?"(?:[^"\\]|\\.)*"</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>Java/Python include paths</string>
					<key>precision</key>
					<string>normal</string>
					<key>regex</key>
					<string>([[:letter:][:number:]._]+\.)+[[:letter:][:number:]._]+</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>mailto URL</string>
					<key>precision</key>
					<string>normal</string>
					<key>regex</key>
					<string>\bmailto:([a-z0-9A-Z_]+@)?([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\b</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>Obj-C selector</string>
					<key>precision</key>
					<string>high</string>
					<key>regex</key>
					<string>@selector\([^)]+\)</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>email address</string>
					<key>precision</key>
					<string>high</string>
					<key>regex</key>
					<string>\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}\b</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>HTTP URL</string>
					<key>precision</key>
					<string>very_high</string>
					<key>regex</key>
					<string>https?://([a-z0-9A-Z]+(:[a-zA-Z0-9]+)?@)?[a-z0-9A-Z]+(\.[a-z0-9A-Z]+)*((:[0-9]+)?)(/[a-zA-Z0-9;/\.\-_+%~?&amp;@=#\(\)]*)?</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>SSH URL</string>
					<key>precision</key>
					<string>very_high</string>
					<key>regex</key>
					<string>\bssh:([a-z0-9A-Z_]+@)?([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\b</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>Telnet URL</string>
					<key>precision</key>
					<string>very_high</string>
					<key>regex</key>
					<string>\btelnet:([a-z0-9A-Z_]+@)?([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\b</string>
				</dict>
			</array>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Triggers</key>
			<array/>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/tema</string>
		</dict>
	</array>
	<key>OnlyWhenMoreTabs</key>
	<true/>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenBookmark</key>
	<false/>
	<key>OpenTmuxWindowsIn</key>
	<integer>0</integer>
	<key>PassOnControlClick</key>
	<false/>
	<key>PasteFromClipboard</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PrefsCustomFolder</key>
	<string>/Users/tema/dotfiles/color/iTerm2</string>
	<key>PromptOnQuit</key>
	<true/>
	<key>QuitWhenAllWindowsClosed</key>
	<false/>
	<key>RightCommand</key>
	<integer>8</integer>
	<key>RightOption</key>
	<integer>3</integer>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://iterm2.googlecode.com/svn/trunk/appcasts/testing.xml</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2013-03-12T18:02:12Z</date>
	<key>SavePasteHistory</key>
	<false/>
	<key>Show Toolbelt</key>
	<false/>
	<key>ShowBookmarkName</key>
	<false/>
	<key>ShowPaneTitles</key>
	<true/>
	<key>SmartPlacement</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.40000000596046448</real>
	<key>SwitchTabModifier</key>
	<integer>4</integer>
	<key>SwitchWindowModifier</key>
	<integer>6</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>ThreeFingerEmulates</key>
	<false/>
	<key>TmuxDashboardLimit</key>
	<integer>10</integer>
	<key>TripleClickSelectsFullWrappedLines</key>
	<false/>
	<key>URLHandlersByGuid</key>
	<dict/>
	<key>UseBorder</key>
	<false/>
	<key>UseCompactLabel</key>
	<true/>
	<key>UseLionStyleFullscreen</key>
	<true/>
	<key>WebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>WebKitStandardFont</key>
	<string>Lucida Grande</string>
	<key>WindowNumber</key>
	<false/>
	<key>WindowStyle</key>
	<integer>0</integer>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>iTerm Version</key>
	<string>1.0.0.20130302</string>
</dict>
</plist>
