<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fm.fastmail.dfay.codecase</string>
	<key>connections</key>
	<dict>
		<key>14EAE525-7D89-449C-9865-ADECFE73F481</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48395615-591D-4FB3-B64F-22B71FB86019</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1B67F4B9-0262-4160-8ABA-A5DBCA273982</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>402E7CC1-455A-4FBA-875D-42EF51AF8EC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3BF7A455-EAED-4A08-80D1-CCB7CE841B5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBDAE3FE-ED77-4CA7-9ADF-D1EF2585C8F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>436B5A37-2D17-4D05-B609-69046FDA5294</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6895627D-04D6-4B11-BFFD-B24F1AB6197F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>48395615-591D-4FB3-B64F-22B71FB86019</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6895627D-04D6-4B11-BFFD-B24F1AB6197F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>49C9740F-EB32-4A47-8150-0EC799ECCE40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>402E7CC1-455A-4FBA-875D-42EF51AF8EC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>544395D9-35AD-48F6-B24B-023C27C8F868</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74D888A6-3A7B-4BD2-A8BD-B7AB148AE698</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5C84D214-6852-4ECA-A241-32CA6D5F916A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6895627D-04D6-4B11-BFFD-B24F1AB6197F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>74D888A6-3A7B-4BD2-A8BD-B7AB148AE698</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6895627D-04D6-4B11-BFFD-B24F1AB6197F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A144F285-7A74-4B45-9332-7B411B31838D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C84D214-6852-4ECA-A241-32CA6D5F916A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A8EAA12B-3479-4B68-B4EE-D39D4BA93FEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4ECBB8E-BF49-44DA-BE24-BEEEE9E507A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B4ECBB8E-BF49-44DA-BE24-BEEEE9E507A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6895627D-04D6-4B11-BFFD-B24F1AB6197F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B4F222C1-C392-45E8-91AF-21169FDCCB19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6895627D-04D6-4B11-BFFD-B24F1AB6197F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BBDAE3FE-ED77-4CA7-9ADF-D1EF2585C8F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6895627D-04D6-4B11-BFFD-B24F1AB6197F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C1EE98A1-F21B-491A-AE6D-C49CE52E748E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>436B5A37-2D17-4D05-B609-69046FDA5294</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CB6F2DCD-E779-443B-82B7-BE099200DA61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6895627D-04D6-4B11-BFFD-B24F1AB6197F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CCDD2B77-0579-4D3C-AD1F-A0DE6B3A0392</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4F222C1-C392-45E8-91AF-21169FDCCB19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D6714DB3-DF3A-4B31-B6A9-F89B957082C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB6F2DCD-E779-443B-82B7-BE099200DA61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Derick Fay</string>
	<key>description</key>
	<string>case converter for code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Code Case</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>cc</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python codercase.py "{query}"</string>
				<key>title</key>
				<string>Code Case Conversions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49C9740F-EB32-4A47-8150-0EC799ECCE40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>402E7CC1-455A-4FBA-875D-42EF51AF8EC5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>slugify</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python codercase.py "{query}"</string>
				<key>title</key>
				<string>Code Case Conversions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1B67F4B9-0262-4160-8ABA-A5DBCA273982</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>544395D9-35AD-48F6-B24B-023C27C8F868</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6895627D-04D6-4B11-BFFD-B24F1AB6197F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string># Snake Case

from codercase import *
sys.stdout.write(to_snake_case("{query}"))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>74D888A6-3A7B-4BD2-A8BD-B7AB148AE698</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D6714DB3-DF3A-4B31-B6A9-F89B957082C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string># Pascal Case

from codercase import *
sys.stdout.write(to_pascal_case(to_snake_case("{query}")))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB6F2DCD-E779-443B-82B7-BE099200DA61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C1EE98A1-F21B-491A-AE6D-C49CE52E748E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string># Cobra Case

from codercase import *
sys.stdout.write(to_cap_snake_case("{query}"))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>436B5A37-2D17-4D05-B609-69046FDA5294</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string># Camel Case

from codercase import *
sys.stdout.write(to_camel_case("{query}"))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>48395615-591D-4FB3-B64F-22B71FB86019</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>14EAE525-7D89-449C-9865-ADECFE73F481</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A144F285-7A74-4B45-9332-7B411B31838D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string># Dot Case

from codercase import *
sys.stdout.write(to_dot_case(to_snake_case("{query}")))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5C84D214-6852-4ECA-A241-32CA6D5F916A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string># Dash Case

from codercase import *
sys.stdout.write(to_dash_case(to_snake_case("{query}")))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBDAE3FE-ED77-4CA7-9ADF-D1EF2585C8F2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3BF7A455-EAED-4A08-80D1-CCB7CE841B5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A8EAA12B-3479-4B68-B4EE-D39D4BA93FEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string># Slash Case

from codercase import *
sys.stdout.write(to_slash(to_snake_case("{query}")))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4ECBB8E-BF49-44DA-BE24-BEEEE9E507A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string># Separate Words

from codercase import *
sys.stdout.write(to_separate_words(to_snake_case("{query}")))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4F222C1-C392-45E8-91AF-21169FDCCB19</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CCDD2B77-0579-4D3C-AD1F-A0DE6B3A0392</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14EAE525-7D89-449C-9865-ADECFE73F481</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>1B67F4B9-0262-4160-8ABA-A5DBCA273982</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>3BF7A455-EAED-4A08-80D1-CCB7CE841B5F</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>402E7CC1-455A-4FBA-875D-42EF51AF8EC5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>436B5A37-2D17-4D05-B609-69046FDA5294</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>48395615-591D-4FB3-B64F-22B71FB86019</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>49C9740F-EB32-4A47-8150-0EC799ECCE40</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>544395D9-35AD-48F6-B24B-023C27C8F868</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5C84D214-6852-4ECA-A241-32CA6D5F916A</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>6895627D-04D6-4B11-BFFD-B24F1AB6197F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>74D888A6-3A7B-4BD2-A8BD-B7AB148AE698</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A144F285-7A74-4B45-9332-7B411B31838D</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>A8EAA12B-3479-4B68-B4EE-D39D4BA93FEA</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>B4ECBB8E-BF49-44DA-BE24-BEEEE9E507A8</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>B4F222C1-C392-45E8-91AF-21169FDCCB19</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>BBDAE3FE-ED77-4CA7-9ADF-D1EF2585C8F2</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>C1EE98A1-F21B-491A-AE6D-C49CE52E748E</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>CB6F2DCD-E779-443B-82B7-BE099200DA61</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CCDD2B77-0579-4D3C-AD1F-A0DE6B3A0392</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>D6714DB3-DF3A-4B31-B6A9-F89B957082C1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
