<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1D444C9B-EC21-418F-B266-2202CD1A57E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9B3DFCA-0EE4-4F63-9F34-E90F3BB20233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0733ECBC-1433-4B43-9724-1582824038B7</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Commits all changed files then deploys.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DB7C0D2-8D9A-47B6-9D4D-ED71092BBFCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B04C9766-E8F3-487E-B9D6-086D18155C1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F71F3431-BEC5-44D2-B40E-AF4F525DECA6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Pulls then deploys lasted changes</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E8D334A-B195-4381-A536-F46340D2BB66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D81BC97F-D880-4D44-AFD4-C6E46D807E7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAA8A435-29F5-477B-9830-66D53EDA435E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB9AABB6-2302-4F4E-B1CC-7FB2DB0DCF01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B04C9766-E8F3-487E-B9D6-086D18155C1C</key>
		<array/>
		<key>BC89F879-224A-41FA-BFE7-8DF0673F66B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18F58B2C-8D9C-4488-9749-EB31E297F312</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D80F371C-DCD5-4C7D-9EE9-E8143C8133F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9BBD856-7532-4117-87D0-6FE0243B290A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBCFF97F-2C3A-475D-AF69-865E51267A2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D756BD7C-8307-45AB-9B98-A00E0D33A3E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE21B2DA-75B6-4747-8ECA-2E9889DD396C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C20CA45-9986-447F-8316-D4BA80704A2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Artem Sapegin</string>
	<key>description</key>
	<string>My nano blog management</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nano</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=~/bin:~/dotfiles/bin:/usr/local/bin/:$PATH
nano-post</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>18F58B2C-8D9C-4488-9749-EB31E297F312</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nano</string>
				<key>subtext</key>
				<string>Copies opened file form iA Writer to the blog</string>
				<key>text</key>
				<string>New post</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC89F879-224A-41FA-BFE7-8DF0673F66B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>nano</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Dropbox/Projects/_Repos/blog.sapegin.me/source/en/all</string>
					<string>~/Dropbox/Projects/_Repos/blog.sapegin.me/source/ru/all</string>
				</array>
				<key>subtext</key>
				<string>Opens nanoblog post in Sublime Text</string>
				<key>title</key>
				<string>Edit post</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>AAA8A435-29F5-477B-9830-66D53EDA435E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>FB9AABB6-2302-4F4E-B1CC-7FB2DB0DCF01</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>export PATH=~/bin:~/dotfiles/bin:/usr/local/bin/:$PATH
nano-publish "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A9BBD856-7532-4117-87D0-6FE0243B290A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>nano publish</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching unpublished posts…</string>
				<key>script</key>
				<string>~/dotfiles/bin/nano-unpublished-for-alfred</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Publishes selected post to blog</string>
				<key>title</key>
				<string>Publish post</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D80F371C-DCD5-4C7D-9EE9-E8143C8133F8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>export PATH=~/bin:~/dotfiles/bin:/usr/local/bin/:$PATH
nano-deploy "Blog deployed."</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B04C9766-E8F3-487E-B9D6-086D18155C1C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nano deploy</string>
				<key>subtext</key>
				<string>Deploys lasted changes</string>
				<key>text</key>
				<string>Deploy blog</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4DB7C0D2-8D9A-47B6-9D4D-ED71092BBFCC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>export PATH=~/bin:~/dotfiles/bin:/usr/local/bin/:$PATH
nano-deploy "Blog deployed." --pull</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F71F3431-BEC5-44D2-B40E-AF4F525DECA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nano commit</string>
				<key>subtext</key>
				<string>Commits all changed files.</string>
				<key>text</key>
				<string>Commit changes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D444C9B-EC21-418F-B266-2202CD1A57E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>export PATH=~/bin:~/dotfiles/bin:/usr/local/bin/:$PATH
nano-commit</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D9B3DFCA-0EE4-4F63-9F34-E90F3BB20233</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>export PATH=~/bin:~/dotfiles/bin:/usr/local/bin/:$PATH
nano-commit
nano-deploy "Blog deployed."</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0733ECBC-1433-4B43-9724-1582824038B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nano terminal</string>
				<key>subtext</key>
				<string>Opens blog’s folder in iTerm.</string>
				<key>text</key>
				<string>Open in terminal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE21B2DA-75B6-4747-8ECA-2E9889DD396C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/Dropbox/Projects/_Repos/blog.sapegin.me</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>5C20CA45-9986-447F-8316-D4BA80704A2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Dropbox/Projects/_Repos/blog.sapegin.me/source</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D81BC97F-D880-4D44-AFD4-C6E46D807E7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nano source</string>
				<key>subtext</key>
				<string>Opens blog’s source folder in Finder.</string>
				<key>text</key>
				<string>Open in Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4E8D334A-B195-4381-A536-F46340D2BB66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Dropbox/Projects/_Repos/blog.sapegin.me/public/images</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D756BD7C-8307-45AB-9B98-A00E0D33A3E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nano images</string>
				<key>subtext</key>
				<string>Opens blog’s images folder in Finder.</string>
				<key>text</key>
				<string>Open in Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DBCFF97F-2C3A-475D-AF69-865E51267A2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0733ECBC-1433-4B43-9724-1582824038B7</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>18F58B2C-8D9C-4488-9749-EB31E297F312</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>1D444C9B-EC21-418F-B266-2202CD1A57E5</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>4DB7C0D2-8D9A-47B6-9D4D-ED71092BBFCC</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>4E8D334A-B195-4381-A536-F46340D2BB66</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>5C20CA45-9986-447F-8316-D4BA80704A2B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>A9BBD856-7532-4117-87D0-6FE0243B290A</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>AAA8A435-29F5-477B-9830-66D53EDA435E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>B04C9766-E8F3-487E-B9D6-086D18155C1C</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>BC89F879-224A-41FA-BFE7-8DF0673F66B1</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>D756BD7C-8307-45AB-9B98-A00E0D33A3E8</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>D80F371C-DCD5-4C7D-9EE9-E8143C8133F8</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D81BC97F-D880-4D44-AFD4-C6E46D807E7B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>D9B3DFCA-0EE4-4F63-9F34-E90F3BB20233</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>DBCFF97F-2C3A-475D-AF69-865E51267A2E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>F71F3431-BEC5-44D2-B40E-AF4F525DECA6</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>FB9AABB6-2302-4F4E-B1CC-7FB2DB0DCF01</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>FE21B2DA-75B6-4747-8ECA-2E9889DD396C</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://sapegin.me</string>
</dict>
</plist>
