:root {
	--white: #fff;
	--base: #4d4d4f;
	--border: #a7a7a7;
	--black-tint-1: #7F7F7F;
	--black-tint-2: #BFBFBF;
	--black-tint-3: #EBEBEB;
	--primary: #3A7585;
	--secondary: #774977;
	--tertiary: #F9BB53;
	--primary-tint-1: #9CBAC2;
	--primary-tint-2: #CEDCE0;
	--primary-tint-3: #F0F4F6;
	--background: #F6F4EE;
	--background-tint: #FAF9F6;
}

/**
 * Common
 */

:root .ui-layout-resizer[style], /* Hide weird resizing thingy */
:root .page_nav_bar, /* Hide eng bar */
:root .wf-EngBar-stats-wrapper,  /* Hide admin home header */
:root .wfa_btn_search_icon { /* Green search buttons */
	display: none !important;
}

:root .main_header {
  background: none;
}

:root .admin-navset {
  overflow: visible;
}

:root #doc3 #bd {
  width: auto;
}

/* Buttons */
:root .btn_tracker_primary,
:root .btn_tracker_secondary,
:root .btn_tracker_tertiary,
:root .disabled_save_button,
:root input[type=submit].btn_tracker_primary,
:root input[type=submit].btn_tracker_secondary,
:root input[type=submit].btn_tracker_tertiary,
:root #create-new-ticket {
	height: 24px;
	padding: 0 8px;
	color: var(--white);
	background: var(--primary);
	border-color: var(--primary);
	font-weight: bold;
    text-transform: none;
	text-decoration: none;
	font-size: 14px;
    border-radius: 3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root .btn_tracker_secondary,
:root input[type=submit].btn_tracker_secondary {
	background: var(--secondary);
	border-color: var(--secondary);
}

/* Tabs */
:root .admin-navset .admin-navset-top .tabcontent,
:root .admin-navset .tabcontent {
  border-top: 0;
}

:root .admin-navset .admin-nav li.navparent {
  z-index: 300; /* On top of sticky header */
}

:root .admin-navset .admin-nav a,
:root .admin-navset .admin-nav a:hover,
:root .admin-navset .admin-nav li.navparent,
:root .admin-navset .admin-nav li.navparent a:hover,
:root .admin-navset .admin-navset-top .admin-nav a,
:root .admin-navset .admin-navset-top .admin-nav a:hover,
:root table.pt_history tr:first-child {
	background: var(--black-tint-3);
	border-radius: 3px 3px 0 0;
}
:root .admin-navset .admin-nav .selected a,
:root .admin-navset .admin-nav .selected a:focus,
:root .admin-navset .admin-nav .selected a:hover {
	color: var(--primary);
}

/* Tables */
:root .column .col_header,
:root .ticket_info_header,
:root .wf-modal-style-1.ticket_modal .wf-modal-close,
:root table.tickets .sorting,
:root table.tickets th {
	background: var(--primary-tint-1);
	border-radius: 0 !important;
}

/* Modal close button */
:root .wf-modal-style-3 .wf-modal-close {
    top: 9px;
    right: 4px;
	color: var(--base);
    background: none;
}

/**
 * Ticket page
 */

:root .js-ticket-update {
	font-size: 1.2em;
}

:root div.content_markdown h2 {
	margin-top: 1em;
	font-size: 2em;
	font-weight: normal;
}
:root div.content_markdown h3 {
	margin-top: 1em;
	font-size: 1.6em;
	font-weight: normal;
}
:root div.content_markdown h4 {
	margin-top: 1em;
	font-size: 1.2em;
	font-weight: normal;
}
:root div.content_markdown h5 {
	margin-top: 1em;
	font-size: 1em;
	font-weight: bold;
}

:root #ticketinfo {
	margin: 0 -15px 20px;
	padding: 8px 15px;
	font-size: 1.8em;
  background: var(--white);
	color: var(--base);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px;
}

:root #ticketinfo #ticketid {
  /* Hide "|" */
  background: var(--white);
  margin-right: -1em;
  position: relative;
}

:root #ticketinfo a {
  color: var(--base);
  text-decoration: none;
}

:root #ticketinfo .uppercase {
  text-transform: none;
}

:root #ticketinfo .emphasis {
  font-weight: normal;
}

:root #minmaxbuttons {
	display: none;
}

:root .ticket_bottom_box,
:root .ticket_groups {
	padding: 0;
	background: 0;
	border: 0;
}

:root .ticket_bottom_info > tbody > tr > td:first-child {
    width: 450px;
}

:root .ticket_bottom_info .ui-widget-content {
	margin: 0;
}

:root .ticket_bottom_info td:first-child #maincontainer {
	padding: 0;
}

:root .ticket_bottom_info .js-details-text-field {
	display: flex;
	align-items: center;
}

:root .ticket_bottom_info td:first-child .ticket_input_lg {
	width: 100%;
	box-sizing: border-box;
	font-size: 0.9rem;
}

:root .js-save-checkmark {
	margin-left: 4px;
}

:root .ticket_bottom_info #maincontainer td {
	white-space: nowrap;
}

:root .ticket_bottom_info #maincontainer td:first-child {
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}

:root .ticket_bottom_info .select2-container[style] {
	width: 270px !important;
}

:root select[name="CombineOrder"] + input {
	width: 100px;
}

:root .ui-tabs-nav {
	margin-left: 0 !important;
}

:root .ui-tabs-nav li {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

:root .details_tab_title {
	margin-top: 24px;
	margin-bottom: 8px;
	background: var(--primary-tint-1);
}
:root .details_tab_title:first-of-type {
	margin-top: 0;
}

:root .pause_resume_buttons {
	margin: 0;
}

:root .ticket_bottom_info .ticket_info_blog #maincontainer {
	margin: 0;
}

:root #pausecontainer ~ #maincontainer {
	margin-top: 3px;
	margin-left: -1px;
}

:root #maincontainer + #maincontainer {
	margin-top: 0;
	border-top: 0;
}

:root .ticketboxcontent textarea {
	box-sizing: border-box;
    width: 100%;
	height: 300px;
	padding: 6px;
	font-size: 1rem;
}

:root .js-qagit-pt .js-qagit-url-status {
	margin-left: 10px;
}

:root #pg[style],
:root #ticket-pane[style] {
  position: static !important;
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  width: auto !important;
  height: auto !important;
  z-index: 0 !important;
  display: block !important;
  visibility: visible !important;
  overflow: visible !important;
}



/* Board page */

:root #mainform .textblock {
	display: flex;
	align-items: center;
	line-height: 1.4;
}

:root .backlog_title .select2-container[style] {
	width: auto !important;
}

:root .backlog_title {
	position: relative;
	white-space: nowrap;
}

:root .scrum_info {
	display: none;
	position: absolute;
	width: 200px;
	height: 26px;
	padding: 2px;
	font-size: 0.8rem;
	background: var(--white);
}
:root .scrum_info ~ .scrum_info {
	bottom: -52px;
}
:root .backlog_title:hover .scrum_info {
	display: block;
}

:root .backlog_title .pipe_divide {
	display: none;
}

:root .backlog_title + a {
	margin-left: 8px;
	margin-right: auto;
}

:root .pt_settings_icon {
	margin: 0;
	font-size: 1.2rem;
	color: var(--primary);
}

:root .sprint_top_info {
	margin: 0;
	text-align: center;
	font-size: 0.8rem;
}

:root .sprint_top_info .secondarytextmed,
:root .sprint_top_info .pipe_divide {
	display: none;
}

:root .sprint_top_info .btn_bg_arrow {
	padding: 0 4px;
}

:root .sprint_top_info .purple_arrow_prev,
:root .sprint_top_info .purple_arrow_next {
	color: var(--primary);
	background: 0;
}

:root .sprint_top_info .purple_arrow_prev:after {
	content: "◀";
}
:root .sprint_top_info .purple_arrow_next:after {
	content: "▶";
}

:root .textblock .midtitle {
	margin-left: 16px;
	font-size: 0.8rem;
}

:root .sprint_board {
	margin-bottom: 32px;
}

/* Search field */
:root .sprint_board .bg_magnify {
	height: 26px;
	padding: 0 6px;
	background: var(--white);
}

:root .sprint_board input,
:root .sprint_board select {
	margin-right: 8px;
}

:root .sprint_board .select2-container[style] {
	width: 120px !important;
	margin-right: 8px;
}

:root .select2-container-multi .select2-choices {
	background: var(--white);
	box-shadow: none;
}

:root .sprint_board .btn_tracker_primary,
:root .sprint_board .btn_tracker_secondary {
	height: auto;
	margin-left: 8px;
	padding: 0;
	background: none;
	border: 0;
	color: var(--base);
	font-size: 0.8rem;
	font-weight: normal;
	text-decoration: underline;
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;

}
:root .sprint_board .btn_tracker_primary:hover,
:root .sprint_board .btn_tracker_secondary:hover {
	text-decoration: none;
}

:root .sprint_board #clear-filters {
	margin-right: 16px;
}

:root .pt-section-top-actions {
	display: flex;
	align-items: center;
	margin-top: 16px;
	background: none;
}

:root .pt-section-top-actions a {
	padding: 5px;
}

:root .pt-section-top-actions span {
	display: none;
}

:root #create-new-ticket {
    height: auto;
	margin-right: auto;
    padding: 4px 12px;
	font-size: 16px;
}

:root #workboard {
	display: flex;
	margin-bottom: 32px;
}

:root #workboard .column {
	margin: 0;
	margin-right: 8px;
}

:root #workboard .column:last-child {
	margin: 0;
}

:root #workboard .column ol.tickets {
	border: 0;
}

:root #workboard .column_override {
	width: auto;
	flex: 1;
	width: 20%;
}

:root #workboard .column .col_header {
	background: var(--primary-tint-1);
	color: #fff;
	border-radius: 0;
}

:root #workboard .column .col_header .js-count {
	max-width: 5.2em;
	line-height: 16px;
	font-size: 0.7rem;
    font-weight: normal;
	text-transform: lowercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

:root #workboard .ticket {
	margin-top: 8px;
	padding: 8px;
	border: 0;
	background: var(--background);
}

:root #workboard .dots {
	background-image: none;
	opacity: 0.5;
}

:root #workboard .epic_start {
	background: none;
	font-style: italic;
	opacity: 0.5;
}
:root #workboard .epic_tail {
	display: none;
}

:root table.tickets,
:root table.tickets td {
	border: 0;
}

/* New ticket modal */

#new-ticket-modal[style] {
	top: 2vmax !important;
	right: 2vmax !important;
	bottom: 2vmax !important;
	left: 2vmax !important;
	margin: auto !important;
}

:root .fixed_ticket_details_area {
	width: auto;
	max-width: 1200px;
}

:root .fixed_ticket_details_area hr {
    display: none;
}

:root .ticket_entry_description {
	width: auto;
}

/* Hide description label */
:root .ticket_entry_description .label_name {
	display: none;
}

/* Enable editor auto resizing */
:root .wf-modal .CodeMirror {
	height: auto;
	font-size: 1.2em;
}

:root .label_name,
:root .label_name_narrow,
:root .label_name_wide {
	width: 140px;
}

:root .ticket_input_lg {
    width: calc(100% - 160px);
}

:root .js-ticket-name {
	font-size: 1.3em;
}

:root .fixed_ticket_details_area .btn_tracker_primary,
:root .ticketboxcontent .btn_tracker_tertiary {
    height: auto;
	padding: 4px 16px;
    font-size: 24px;
}

:root .fixed_ticket_details_area .btn_tracker_inputlink[name="cancel"] {
    margin-top: 8px;
	margin-right: 16px;
}

/* Time logging page */
:root .today {
	background-color: var(--primary);
	border-radius: 3px;
}
