/* Squirrelsong Light colors: https://sapegin.me/squirrelsong/spec/ */

/* Firefox reader mode styles */
@-moz-document url-prefix("about:reader") {
	body {
		--gray060: #4c4b4e;
		--gray170: #f7f6f9;
		--gray180: #fdfdfe;
		--blue: #80a4be;
		--blueContrast: #527b98;

		/* Custom colors */
		--sepiaForeground: #5b4839;
		--sepiaBackground: #f6f2ef;
		--sepiaHoverBackground: #ebe4dc;
		--sepiaHoverBorder: #b0a59d;
		--sepiaDisabled: #9e8e7e;

		--light-theme-foreground: var(--gray060) !important;
		--light-theme-background: var(--gray180) !important;
		--dark-theme-foreground: var(--gray180) !important;
		--dark-theme-background: var(--gray060) !important;
		--primary-color: var(--blue) !important;
	}

	body.sepia {
		--main-background: var(--sepiaBackground) !important;
		--main-foreground: var(--sepiaForeground) !important;
		--toolbar-border: var(--sepiaHoverBorder) !important;
		--toolbar-button-background-hover: var(--sepiaHoverBackground) !important;
		--toolbar-button-background-active: var(--sepiaHoverBackground) !important;
		--icon-fill: var(--sepiaForeground) !important;
		--icon-disabled-fill: var(--sepiaDisabled) !important;
	}

	.domain {
		/* Use text color for underline instead of black */
		text-decoration: underline !important;
	}
}

/*
uBlock origin error pages:
- "moz-extension://a7bf810e-ecb9-4c69-8123-00aac8bb4f90/document-blocked.html?
*/
@-moz-document url-prefix("moz-extension") {
	:root {
		--gray060: #4c4b4e;
		--gray150: #dbd7e0;
		--gray160: #e8e5eb;
		--gray170: #f7f6f9;
		--blue: #80a4be;
		--blueContrast: #527b98;

		--ink-1: var(--gray060) !important;
		--ink-2: var(--gray060) !important;
		--surface-1: var(--gray170) !important;
		--surface-2: var(--gray160) !important;
		--accent-surface-1: var(--blueContrast) !important;
		--link-ink: var(--blueContrast) !important;
		--link-hover-ink: var(--blue) !important;
	}
}
