<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>052E6CD9-71A5-43DF-8ABA-C4EA8CBFEA0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>650C91C1-2FCB-4822-BDB7-D8EE5C859CCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22016EF3-FF94-414A-8AE9-18EE8C075CAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFF7D8B0-CE8B-4A93-BB17-8464F8FC4A05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FF08BCF-90BF-4A5C-8B55-42C97D29E3AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CE4EFD0-D18E-457F-948C-16637611ED47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42C4DCB3-DDFB-4CF3-85AE-545EC2E29756</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DC81638-ECC1-475F-8CE9-816BFA9A0769</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51E417BB-8305-4634-8E04-F9931BDD1007</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F20F8748-AB7C-4816-9701-77B4B69FD418</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F494AB6-8C10-43CC-BA1C-F148B08EAC88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>377A1485-EE93-4148-AC72-484C6FFDB75C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1E5E9FF-29A0-47E1-9A2B-4EAC960C80B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3755E16C-2459-4FB2-AEFA-F78DB639D1FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA140C98-C77D-4D3A-8136-61E37670E2F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51E417BB-8305-4634-8E04-F9931BDD1007</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Artem Sapegin</string>
	<key>description</key>
	<string>My photo gallery management</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Morning.photos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>morn</string>
				<key>subtext</key>
				<string>Copies opened file form iA Writer to the blog</string>
				<key>text</key>
				<string>New post</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7F494AB6-8C10-43CC-BA1C-F148B08EAC88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=~/bin:~/dotfiles/bin:/usr/local/bin/:$PATH
morn-post</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>377A1485-EE93-4148-AC72-484C6FFDB75C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>morn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching…</string>
				<key>script</key>
				<string>~/n/bin/node ~/dotfiles/bin/morn-list-for-alfred "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Opens post or document in Sublime Text</string>
				<key>title</key>
				<string>Edit post or document</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22016EF3-FF94-414A-8AE9-18EE8C075CAC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>BFF7D8B0-CE8B-4A93-BB17-8464F8FC4A05</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>morn terminal</string>
				<key>subtext</key>
				<string>Opens blog’s folder in iTerm.</string>
				<key>text</key>
				<string>Open in terminal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>052E6CD9-71A5-43DF-8ABA-C4EA8CBFEA0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/Dropbox/Projects/Morning.photos/morning.photos</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>650C91C1-2FCB-4822-BDB7-D8EE5C859CCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Dropbox/Projects/Morning.photos/morning.photos/source</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>3755E16C-2459-4FB2-AEFA-F78DB639D1FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>morn source</string>
				<key>subtext</key>
				<string>Opens blog’s source folder in Finder.</string>
				<key>text</key>
				<string>Open source in Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C1E5E9FF-29A0-47E1-9A2B-4EAC960C80B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Dropbox/Projects/Morning.photos/morning.photos/public/images</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>4DC81638-ECC1-475F-8CE9-816BFA9A0769</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>morn images</string>
				<key>subtext</key>
				<string>Opens blog’s images folder in Finder.</string>
				<key>text</key>
				<string>Open images folder in Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>42C4DCB3-DDFB-4CF3-85AE-545EC2E29756</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Dropbox/Projects/Morning.photos/morning.photos/photos</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0CE4EFD0-D18E-457F-948C-16637611ED47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>morn photos</string>
				<key>subtext</key>
				<string>Opens blog’s photos folder in Finder.</string>
				<key>text</key>
				<string>Open photos folder in Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3FF08BCF-90BF-4A5C-8B55-42C97D29E3AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F20F8748-AB7C-4816-9701-77B4B69FD418</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>morn livejournal</string>
				<key>subtext</key>
				<string>Copy latest post prepared for LiveJournal to clipboard</string>
				<key>text</key>
				<string>Copy latest post to LiveJournal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA140C98-C77D-4D3A-8136-61E37670E2F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cat ~/Dropbox/Projects/Morning.photos/morning.photos/lj.html</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51E417BB-8305-4634-8E04-F9931BDD1007</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>052E6CD9-71A5-43DF-8ABA-C4EA8CBFEA0F</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>0CE4EFD0-D18E-457F-948C-16637611ED47</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>22016EF3-FF94-414A-8AE9-18EE8C075CAC</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>3755E16C-2459-4FB2-AEFA-F78DB639D1FA</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>377A1485-EE93-4148-AC72-484C6FFDB75C</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3FF08BCF-90BF-4A5C-8B55-42C97D29E3AD</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>42C4DCB3-DDFB-4CF3-85AE-545EC2E29756</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>4DC81638-ECC1-475F-8CE9-816BFA9A0769</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>51E417BB-8305-4634-8E04-F9931BDD1007</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>650C91C1-2FCB-4822-BDB7-D8EE5C859CCF</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>7F494AB6-8C10-43CC-BA1C-F148B08EAC88</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>BFF7D8B0-CE8B-4A93-BB17-8464F8FC4A05</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C1E5E9FF-29A0-47E1-9A2B-4EAC960C80B7</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>EA140C98-C77D-4D3A-8136-61E37670E2F6</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>F20F8748-AB7C-4816-9701-77B4B69FD418</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://morning.photos/</string>
</dict>
</plist>
