<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.4223DC71-DF9E-4B8B-B3F6-CF541AE9BEC5</string>
	<key>theme</key>
	<string>alfred.theme.yosemite</string>
</dict>
</plist>
