# Install exact version of packages ("1.1.1" instead of "^1.1.1" or "~1.1.1")
save-exact=true
save-prefix=''

# Do not run preinstall and postinstall scripts
# Disabled for now, as it also breaks ALL pre* and post* scripts
# ignore-scripts=true

# Less verbose output
loglevel=warn
