<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4F089A54-BE6B-4B04-8799-209F18440EA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>730DD524-F921-40B2-931B-DA8385E96676</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DD46F95-741B-42F3-B53E-10F025BA1FA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0BE3E92-0B03-4D85-B608-9407657AAA68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CE195DFA-A5C1-476D-940A-7DC056E82F56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43336FCB-19FF-4403-9A37-1CAAFE9D14EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8FD21CF8-EFBA-45BD-A83A-3F2723A37F48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74138C34-B8A1-4DE4-9E30-E9DF8DFDD232</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Artem Sapegin</string>
	<key>description</key>
	<string>Opens a file in iA Writer</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Writer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iA Writer.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>43336FCB-19FF-4403-9A37-1CAAFE9D14EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wrt</string>
				<key>subtext</key>
				<string>Creates new file in iA Write Pro</string>
				<key>text</key>
				<string>New note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CE195DFA-A5C1-476D-940A-7DC056E82F56</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "iA Writer" to activate	tell application "System Events" to keystroke "n" using command down
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>8FD21CF8-EFBA-45BD-A83A-3F2723A37F48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/iA Writer.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>74138C34-B8A1-4DE4-9E30-E9DF8DFDD232</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<false/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemKind</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>wrt</string>
				<key>scopes</key>
				<array>
					<string>~/Dropbox/Projects/Books</string>
					<string>~/Dropbox/Writings</string>
				</array>
				<key>subtext</key>
				<string>Opens your notes in iA Writer Pro</string>
				<key>title</key>
				<string>Open note</string>
				<key>types</key>
				<array>
					<string>net.daringfireball.markdown</string>
					<string>pro.writer.edit</string>
					<string>pro.writer.markdown</string>
					<string>pro.writer.note</string>
					<string>pro.writer.read</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wrt preview</string>
				<key>subtext</key>
				<string>Opens topmost Writer Pro document in Marked</string>
				<key>text</key>
				<string>Preview</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7DD46F95-741B-42F3-B53E-10F025BA1FA0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

	tell application "iA Writer"		set filepath to file of document 1	end tell	tell application "Marked 2"		open filepath
		activate	end tell

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F0BE3E92-0B03-4D85-B608-9407657AAA68</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wrt post</string>
				<key>subtext</key>
				<string>Copies topmost Write Pro file to blog repo and opens it in Sublime Text</string>
				<key>text</key>
				<string>Copy to blog</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F089A54-BE6B-4B04-8799-209F18440EA1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>export PATH=~/bin:~/dotfiles/bin:/usr/local/bin/:$PATH
nano-post
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>730DD524-F921-40B2-931B-DA8385E96676</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>43336FCB-19FF-4403-9A37-1CAAFE9D14EA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4F089A54-BE6B-4B04-8799-209F18440EA1</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>730DD524-F921-40B2-931B-DA8385E96676</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>74138C34-B8A1-4DE4-9E30-E9DF8DFDD232</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>7DD46F95-741B-42F3-B53E-10F025BA1FA0</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>8FD21CF8-EFBA-45BD-A83A-3F2723A37F48</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>CE195DFA-A5C1-476D-940A-7DC056E82F56</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F0BE3E92-0B03-4D85-B608-9407657AAA68</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://sapegin.me</string>
</dict>
</plist>
