/* Squirrelsong CSS theme */

.light {
  /* UI */
  --title-foreground: #4c4b4e;
  --active-foreground: #4c4b4e;
  --text-foreground: #78737d;
  --secondary-text-foreground: #8c8792;
  --disabled-foreground: #9c96a2;
  --hidden-foreground: #c9c4cf;
  --link-foreground: #4b7b97;
  --link-hover-foreground: #80a4be;
  --button-background: #8c8792;
  --button-foreground: #fdfdfe;
  --button-hover-background: #78737d;
  --secondary-button-background: #e8e5eb;
  --secondary-button-foreground: #6b676f;
  --secondary-button-hover-background: #dbd7e0;
  --disabled-button-background: #dbd7e0;
  --disabled-button-foreground: #f7f6f9;
  --success-foreground: #657d38;
  --success-background: #dde2d7;
  --success-border: #9bae7e;
  --error-foreground: #c06159;
  --error-background: #f5e5e4;
  --error-border: #d67e76;
  --warning-foreground: #c88539;
  --warning-background: #f7e7d5;
  --warning-border: #de9e59;
  --info-foreground: #78737d;
  --info-background: #f7f6f9;
  --info-border: #dbd7e0;
  --text-background: #fdfdfe;
  --ui-background: #f7f6f9;
  --secondary-ui-background: #e8e5eb;
  --active-background: #dbd7e0;
  --hover-background: #e8e5eb;
  --line-highlight-background: #f7f6f9;
  --selection-base: #f5da70;
  --selection-background: #f8e7a0;
  --secondary-selection-background: #fdf6de;
  --match-base: #db7097;
  --match-foreground: #4c4b4e;
  --match-background: #e698b5;
  --secondary-match-background: #fae1ea;
  --inserted-background: #f2f4f1;
  --deleted-background: #faf4f4;
  --inserted-word-background: #dde2d7;
  --deleted-word-background: #f5e5e4;
  --border: #c9c4cf;
  --light-border: #e8e5eb;
  --active-border: #4c4b4e;
  --focus-border: #78737d;
  --icon: #8c8792;
  --active-icon: #4c4b4e;
  --accent1: #4c4b4e;
  --accent2: #ac9bc5;
  --accent3: #806f9b;

  /* Code */
  --code-punctuation: #78737d;
  --code-comment: #9c96a2;
  --code-keyword: #ac9bc5;
  --code-tag-name: #ac9bc5;
  --code-tag-brackets: #ac9bc5;
  --code-value: #de9e59;
  --code-property: #80a4be;
  --code-namespace: #80a4be;
  --code-variable: #80a4be;
  --code-function: #80a4be;
  --code-string: #9bae7e;
  --code-escape-character: #9bae7e;
  --code-inserted: #9bae7e;
  --code-type: #5f9b8d;
  --code-operator: #5f9b8d;
  --code-class: #5f9b8d;
  --code-at-rule: #5f9b8d;
  --code-control-flow: #5f9b8d;
  --code-deleted: #d67e76;
  --code-important1: #d67e76;
  --code-important2: #de9e59;
  --code-important3: #e4c158;
  --code-important4: #4c4b4e;

  /* ANSI */
  --terminal-foreground: #4c4b4e;
  --terminal-background: #fdfdfe;
  --terminal-white: #78737d;
  --terminal-bright-white: #4c4b4e;
  --terminal-black: #9c96a2;
  --terminal-bright-black: #8c8792;
  --terminal-blue: #4b7b97;
  --terminal-bright-blue: #80a4be;
  --terminal-cyan: #3e816e;
  --terminal-bright-cyan: #5f9b8d;
  --terminal-green: #657d38;
  --terminal-bright-green: #9bae7e;
  --terminal-magenta: #806f9b;
  --terminal-bright-magenta: #ac9bc5;
  --terminal-red: #c06159;
  --terminal-bright-red: #db7097;
  --terminal-yellow: #c88539;
  --terminal-bright-yellow: #de9e59;
}

.dark {
  /* UI */
  --title-foreground: #bea3d9;
  --active-foreground: #bea3d9;
  --text-foreground: #9a7eb4;
  --secondary-text-foreground: #866db0;
  --disabled-foreground: #8067ad;
  --hidden-foreground: #644e88;
  --link-foreground: #5993c2;
  --link-hover-foreground: #63a2d6;
  --button-background: #8067ad;
  --button-foreground: #271e38;
  --button-hover-background: #9a7eb4;
  --secondary-button-background: #503f6e;
  --secondary-button-foreground: #a88dc3;
  --secondary-button-hover-background: #6c5492;
  --disabled-button-background: #453461;
  --disabled-button-foreground: #36294d;
  --success-foreground: #709855;
  --success-background: #32363a;
  --success-border: #558240;
  --error-foreground: #ce574a;
  --error-background: #44283a;
  --error-border: #ac493e;
  --warning-foreground: #d8a851;
  --warning-background: #503d20;
  --warning-border: #b18433;
  --info-foreground: #9a7eb4;
  --info-background: #36294d;
  --info-border: #503f6e;
  --text-background: #271e38;
  --ui-background: #36294d;
  --secondary-ui-background: #453461;
  --active-background: #503f6e;
  --hover-background: #453461;
  --line-highlight-background: #36294d;
  --selection-base: #5f4b86;
  --selection-background: #4c3c6b;
  --secondary-selection-background: #3f3259;
  --match-base: #ca5a83;
  --match-foreground: #cbb5e3;
  --match-background: #a65472;
  --secondary-match-background: #5e375c;
  --inserted-background: #2d2b39;
  --deleted-background: #332239;
  --inserted-word-background: #32363a;
  --deleted-word-background: #44283a;
  --border: #644e88;
  --light-border: #453461;
  --active-border: #bea3d9;
  --focus-border: #9a7eb4;
  --icon: #866db0;
  --active-icon: #bea3d9;
  --accent1: #bea3d9;
  --accent2: #a65472;
  --accent3: #ca5a83;

  /* Code */
  --code-punctuation: #bea3d9;
  --code-comment: #7254a6;
  --code-keyword: #7f61b3;
  --code-tag-name: #7f61b3;
  --code-tag-brackets: #7f61b3;
  --code-value: #b18433;
  --code-property: #5993c2;
  --code-namespace: #5993c2;
  --code-variable: #5993c2;
  --code-function: #5993c2;
  --code-string: #558240;
  --code-escape-character: #558240;
  --code-inserted: #558240;
  --code-type: #4f9593;
  --code-operator: #4f9593;
  --code-class: #4f9593;
  --code-at-rule: #4f9593;
  --code-control-flow: #4f9593;
  --code-deleted: #ac493e;
  --code-important1: #ac493e;
  --code-important2: #b18433;
  --code-important3: #ceb250;
  --code-important4: #ceb250;

  /* ANSI */
  --terminal-foreground: #bea3d9;
  --terminal-background: #271e38;
  --terminal-white: #bea3d9;
  --terminal-bright-white: #e9d6fa;
  --terminal-black: #644e88;
  --terminal-bright-black: #7254a6;
  --terminal-blue: #5993c2;
  --terminal-bright-blue: #63a2d6;
  --terminal-cyan: #4f9593;
  --terminal-bright-cyan: #72aaa8;
  --terminal-green: #558240;
  --terminal-bright-green: #709855;
  --terminal-magenta: #7f61b3;
  --terminal-bright-magenta: #9672d4;
  --terminal-red: #ac493e;
  --terminal-bright-red: #ca5a83;
  --terminal-yellow: #ceb250;
  --terminal-bright-yellow: #e2c358;
}
