/* https://docs.obsidian.md/Reference/CSS+variables/CSS+variables */

body {
  /* Custom variables */
  --sqrl-heading-weight: 500;
  --sqrl-font-base: "Bear Sans UI", system-ui, sans-serif;
  --sqrl-font-heading: "Bear Sans UI Heading", system-ui, sans-serif;
  --sqrl-font-mono: Monolisa, monospace;

  /* Obsidian theme variables */
  --radius-s: 4px;
  --radius-m: 6px;
  --radius-l: 8px;
  --radius-xl: 12px;
  --input-radius: 4px;
  --button-radius: 8px;
  --tab-radius-active: 4px;
  --checkbox-radius: 4px;
  --toggle-radius: 20px;
  --toggle-thumb-radius: 16px;
  --slider-thumb-radius: 12px;
  --modal-radius: 12px;

  --font-text-theme: var(--sqrl-font-base);
  --font-monospace-theme: var(--sqrl-font-mono);

  --cursor: pointer;
  --cursor-link: pointer;

}

.theme-light {
  /* Squirrelsong Light palette */
  --sqrl-gray180: #fdfdfe;
  --sqrl-gray170: #f7f6f9;
  --sqrl-gray160: #e8e5eb;
  --sqrl-gray150: #dbd7e0;
  --sqrl-gray140: #c9c4cf;
  --sqrl-gray130: #b8b1be;
  --sqrl-gray120: #a8a1af;
  --sqrl-gray110: #9c96a2;
  --sqrl-gray100: #8c8792;
  --sqrl-gray090: #78737d;
  --sqrl-gray080: #6b676f;
  --sqrl-gray070: #5c595f;
  --sqrl-gray060: #4c4b4e;
  --sqrl-red: #d67e76;
  --sqrl-redDim: #e5aba8;
  --sqrl-redDimer: #f2dbda;
  --sqrl-redContrast: #c06159;
  --sqrl-orange: #de9e59;
  --sqrl-orangeContrast: #bf8240;
  --sqrl-yellow: #e4c158;
  --sqrl-green: #9bae7e;
  --sqrl-greenContrast: #667e44;
  --sqrl-teal: #5f9b8d;
  --sqrl-blue: #80a4be;
  --sqrl-blueContrast: #527b98;
  --sqrl-magenta: #ac9bc5;
  --sqrl-brightPink: #e87da4;
  --sqrl-brightPinkDim: #f0a8c2;
  --sqrl-brightPinkDimer: #fae1ea;
  --sqrl-brightYellowDim: #f8e7a0;
  --sqrl-brightYellowDimer: #fdf6de;

  /* Custom variables */
  --textfield-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.05);
  --textfield-shadow-focus: 0 0 0 var(--input-border-width-focus) var(--background-modifier-border-focus), inset 0 3px 0 rgba(0, 0, 0, 0.05);
  --card-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 4px rgba(0,0,0,.05);
  --card-shadow-hover: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0,0,0,.15), 0 3px 6px rgba(0,0,0,.08);
  --button-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 -2px 0 2px rgba(0, 0, 0, .15), 0 2px 1px -1px rgba(0, 0, 0, .15), 0 4px 5px -2px rgba(0, 0, 0, .1);
  --button-shadow-active: inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 0 0 3px rgba(0, 0, 0, .05), inset 0 2px 8px 0 rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, 0.05);
  --dropdown-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 -2px 0 2px rgba(0, 0, 0, .03), 0 2px 1px -1px rgba(0, 0, 0, .1), 0 4px 5px -2px rgba(0, 0, 0, .08);
  --dropdown-shadow-focus: 0 0 0 var(--input-border-width-focus) var(--background-modifier-border-focus), inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 -2px 0 2px rgba(0, 0, 0, .03), 0 2px 1px -1px rgba(0, 0, 0, .1), 0 4px 5px -2px rgba(0, 0, 0, .08);
  --active-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1), inset 0 2px 0 1px rgba(0, 0, 0, .05);
  --button-text-shadow: 0 1px 1px rgba(255, 255, 255, .85);
  --button-accent-text-shadow: 0 -1px 1px rgba(0, 0, 0, .15);
  --active-text-shadow: var(--button-accent-text-shadow);
  --toggle-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0 2px 0 rgba(0, 0, 0, .05), 0 5px 2px -4px rgba(0, 0, 0, .15);
  --toggle-thumb-shadow: inset 0px 1px 0px 1px rgba(255, 255, 255, 1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.2);
  --slider-track-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(255, 255, 255, 0.05);
 --slider-thumb-shadow: inset 0px 1px 0px 1px rgba(255, 255, 255, 1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.25);
 --slider-thumb-shadow-hover: inset 0px 1px 0px 1px rgba(255, 255, 255, 1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.3);
  --transition: text-shadow 0.15s ease-in,
            box-shadow 0.15s ease-in,
            text-decoration 0.15s ease-in,
            color 0.15s ease-in,
            background-color 0.15s ease-in,
            border-color 0.15s ease-in,
            opacity 0.15s ease-in,
            padding-block-start 0.15s ease-in,
            padding-block-end 0.15s ease-in;

  /* Obsidian variables */

  --color-base-00: #ffffff;
  --color-base-05: var(--sqrl-gray180);
  --color-base-10: var(--sqrl-gray170);
  --color-base-20: var(--sqrl-gray170);
  --color-base-25: var(--sqrl-gray160);
  --color-base-30: var(--sqrl-gray160);
  --color-base-35: var(--sqrl-gray150);
  --color-base-40: var(--sqrl-gray130);
  --color-base-50: var(--sqrl-gray120);
  --color-base-60: var(--sqrl-gray090);
  --color-base-70: var(--sqrl-gray060);
  --color-base-100: #2f2e30;

  /* magentaContrast: #806f9b */
  --accent-h: 263;
  --accent-s: 18%;
  --accent-l: 52%;

  --color-red: var(--sqrl-red);
  --color-red-rgb: 192, 97, 89;
  --color-orange: var(--sqrl-orange);
  --color-orange-rgb: 222, 158, 89;
  --color-yellow: var(--sqrl-yellow);
  --color-yellow-rgb: 228, 193, 88;
  --color-green: var(--sqrl-green);
  --color-green-rgb: 155, 174, 126;
  --color-cyan: var(--sqrl-teal);
  --color-cyan-rgb: 95, 155, 141;
  --color-blue: var(--sqrl-blue);
  --color-blue-rgb: 128, 164, 190;
  --color-purple: var(--sqrl-magenta);
  --color-purple-rgb: 172, 155, 197;
  --color-pink: var(--sqrl-brightPink);
  --color-pink-rgb: 232, 125, 164;

  --background-primary: var(--sqrl-gray180);
  --background-primary-alt: var(--sqrl-gray170);
  --background-secondary: var(--sqrl-gray170);
  --background-secondary-alt: var(--sqrl-gray170);
  --background-modifier-hover: var(--sqrl-gray160);
  --background-modifier-active-hover: var(--sqrl-gray160);
  --background-modifier-border: var(--sqrl-gray160);
  --background-modifier-border-hover: var(--sqrl-gray150);
  --background-modifier-border-focus: var(--sqrl-magenta);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-success: var(--color-green);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-modifier-message: var(--sqrl-gray120);
  --background-modifier-form-field: var(--sqrl-gray180);

  --interactive-normal: var(--sqrl-gray180);
  --interactive-hover: var(--sqrl-gray160);
  --interactive-accent: var(--sqrl-gray100);
  --interactive-accent-hsl: 267, 5%, 55%;
  --interactive-accent-hover: var(--sqrl-gray090);

  --text-normal: var(--sqrl-gray060);
  --text-muted: var(--sqrl-gray100);
  --text-faint: var(--sqrl-gray110);
  --text-on-accent: var(--sqrl-gray180);
  --text-on-accent-inverted: var(--sqrl-gray060);
  --text-success: var(--sqrl-greenContrast);
  --text-warning: var(--sqrl-orangeContrast);
  --text-error: var(--sqrl-redContrast);
  --text-accent: var(--sqrl-gray060);
  --text-accent-hover: var(--sqrl-gray060);

  --text-selection: var(--sqrl-brightYellowDimer);
  --text-highlight-bg: var(--sqrl-brightPinkDimer);

  --caret-color: var(--sqrl-gray060);

  --indentation-guide-color: var(--sqrl-gray160);

  --modal-border-color: var(--sqrl-gray160);

  --tab-text-color: var(--sqrl-gray090);
  --tab-text-color-active: var(--sqrl-gray060);
  --tab-text-color-focused: var(--sqrl-gray090);
  --tab-text-color-focused-active: var(--sqrl-gray060);
  --tab-text-color-focused-highlighted: var(--sqrl-gray060);
  --tab-text-color-focused-active-current: var(--sqrl-gray060);
  --tab-background-active: var(--sqrl-gray170);
  --tab-divider-color: var(--sqrl-gray160);
  --tab-outline-width: 0.5px;
  --tab-outline-color: var(--sqrl-gray140);
  --tab-curve: 0;

  --blockquote-border-thickness: 4px;
  --blockquote-border-color: var(--sqrl-gray140);
  --blockquote-color: var(--sqrl-gray090);

  --callout-title-weight: var(--sqrl-heading-weight);

  --code-background: var(--sqrl-gray170);
  --code-normal: var(--sqrl-gray090);
  --code-comment: var(--sqrl-gray110);
  --code-function: var(--sqrl-blue);
  --code-important: var(--sqrl-red);
  --code-keyword: var(--sqrl-magenta);
  --code-operator: var(--sqrl-teal);
  --code-property: var(--sqrl-blue);
  --code-punctuation: var(--sqrl-gray090);
  --code-string: var(--sqrl-green);
  --code-tag: var(--sqrl-magenta);
  --code-value: var(--sqrl-orange);

  --p-spacing: 1rem;

  --heading-formatting: red;
  --heading-spacing: 2rem;
  --h1-size: 2rem;
  --h1-font: var(--sqrl-font-heading);
  --h1-weight: var(--sqrl-heading-weight);
  --h2-size: 1.5rem;
  --h2-font: var(--sqrl-font-heading);
  --h2-weight: var(--sqrl-heading-weight);
  --h3-size: 1.2rem;
  --h3-font: var(--sqrl-font-heading);
  --h3-weight: var(--sqrl-heading-weight);
  --h4-font: var(--sqrl-font-heading);
  --h4-weight: var(--sqrl-heading-weight);
  --h5-font: var(--sqrl-font-heading);
  --h5-weight: var(--sqrl-heading-weight);
  --h6-font: var(--sqrl-font-heading);
  --h6-weight: var(--sqrl-heading-weight);

  --hr-color: var(--sqrl-gray140);
  --hr-thickness: 1px;

  --link-color: var(--sqrl-blueContrast);
  --link-external-color: var(--sqrl-blueContrast);
  --link-color-hover: var(--sqrl-blue);
  --link-external-color-hover: var(--sqrl-blue);
  --link-decoration: none;
  --link-external-decoration: none;
  --link-unresolved-color: salmon;

  --list-indent: 1.5rem;
  --list-indent-editing: 0.1rem;
  --list-indent-source: 0.1rem;
  --list-spacing: 0.1rem;
  --list-marker-color: var(--sqrl-gray110);

  --checklist-done-decoration: none;
  --checklist-done-color: var(--sqrl-gray110);
  --checkbox-margin-inline-start: 0.4rem;

  --table-row-alt-background: var(--sqrl-gray170);
  --table-row-alt-background-hover: var(--sqrl-gray170);

  --tag-color: var(--sqrl-gray080);
  --tag-background: var(--sqrl-gray160);

  --divider-color: var(--sqrl-gray140);
  --divider-color-hover: var(--sqrl-gray060);
  --divider-width: 0.5px;
  --divider-width-hover: 2px;

  --titlebar-background: var(--sqrl-gray160);
  --titlebar-background-focused: var(--sqrl-gray160);
  --titlebar-border-width: 0.5px;
  --titlebar-border-color: var(--sqrl-gray140);

  --icon-color: var(--sqrl-gray100);
  --icon-color-hover: var(--sqrl-gray060);
  --icon-color-active: var(--sqrl-gray060);
  --icon-color-focus: var(--sqrl-gray060);
  --icon-opacity: 1;

  --collapse-icon-color: var(--icon-color);
  --collapse-icon-color-collapsed: var(--icon-color);

  --input-shadow: var(--textfield-shadow);
  --dropdown-background-position: right 0.5em top 55%, 0 0;

  --bases-cards-shadow: var(--card-shadow);
  --bases-cards-shadow-hover: var(--card-shadow-hover);

  --metadata-border-radius: var(--radius-xl);
  --metadata-property-radius: 0;
  --metadata-padding: .75rem;
  --metadata-property-radius-focus: var(--radius-s);
  --metadata-property-box-shadow-hover: none;
  --metadata-property-box-shadow-focus: var(--textfield-shadow-focus);
  --metadata-input-background-active: transparent;
  --metadata-label-text-color: var(--sqrl-gray090);
  --metadata-label-background-active: transparent;

  --file-margins: .5rem 1rem;
}

/* Additional styles */

/* All interactive elements should have pointer cursor and transition */
.tappable, .is-clickable, .clickable-icon, .view-header-breadcrumb, textarea, input, button {
    transition: var(--transition);
}
.tappable, .is-clickable, .clickable-icon, .view-header-breadcrumb, button, input[type="checkbox"] {
    cursor: var(--cursor);
}

/* Button styles inspired by https://primary-theme.github.io */

button:not(.clickable-icon) {
    padding-block-end: 6px;
    color: var(--sqrl-gray080);
    background-color: var(--sqrl-gray160);
    box-shadow: var(--button-shadow);
    text-shadow: var(--button-text-shadow);
    transition: var(--transition);
}
button:not(.clickable-icon):hover {
    background-color: var(--sqrl-gray150);
}
button:not(.clickable-icon):active {
  padding-block-end: 5px;
  box-shadow: var(--button-shadow-active);
}
button.mod-cta {
    color: var(--sqrl-gray180);
    background-color: var(--sqrl-gray100);
    text-shadow: var(--button-accent-text-shadow);
}
button.mod-cta:hover {
    background-color: var(--sqrl-gray090);
}

/* Inputs */

textarea, input[type='date'], input[type='datetime-local'], input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='number'] {
    padding-block-start: 6px;
    box-shadow: var(--input-shadow);
}

textarea:focus-visible, .multi-select-container:focus-visible, input[type='date']:focus-visible, input[type='datetime-local']:focus-visible, input[type='text']:focus-visible, input[type='search']:focus-visible, input[type='email']:focus-visible, input[type='password']:focus-visible, input[type='number']:focus-visible {
    box-shadow: var(--textfield-shadow-focus);
}

/* Dropdowns */

.dropdown {
    border: 0;
    border-radius: var(--button-radius);
    background-color: var(--sqrl-gray180);
    box-shadow: var(--dropdown-shadow);
    text-shadow: var(--button-text-shadow);
}
.dropdown:hover {
    background-color: var(--sqrl-gray170);
    box-shadow: var(--dropdown-shadow);
    cursor: var(--cursor);
}
.dropdown:focus-visible {
    box-shadow: var(--dropdown-shadow-focus);
}

/* Range input sliders */

input[type='range'],
input[type='range']:hover,
input[type='range']:focus {
    box-shadow: var(--slider-track-shadow);
}

input[type='range']::-webkit-slider-thumb {
    transition: var(--transition);
    box-shadow: var(--slider-thumb-shadow);
    cursor: grab;
}

input[type='range']::-webkit-slider-thumb:hover,
input[type='range']::-webkit-slider-thumb:active,
input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus-visible::-webkit-slider-thumb {
    box-shadow: var(--slider-thumb-shadow-hover);
}

/* Checkboxes (toggle buttons) */

.checkbox-container {
    box-shadow: var(--toggle-shadow);
}
.checkbox-container::after {
    box-shadow: var(--toggle-thumb-shadow);
}
.checkbox-container:focus-within {
    outline-offset: 1px;
}

/* Horizontal tabs */

.workspace-tab-header-inner, .workspace-tab-header-inner-icon, .workspace-tab-header-inner-close-button {
    transition: var(--transition);
}
.mod-root .workspace-tab-header-container-inner {
    padding: 4px 16px;
    margin-block: 0;
}
.workspace .mod-root .workspace-tab-header {
    padding: 2px 4px;
}
.workspace-tab-header.is-active {
    box-shadow: 0 0 0 var(--tab-outline-width) var(--tab-outline-color), 0 2px 4px rgba(0,0,0,.05);
}
.workspace-tab-header.is-active .workspace-tab-header-inner-icon {
    color: var(--icon-color-active);
}
.mod-left-split .workspace-tab-header.is-active, .mod-right-split .workspace-tab-header.is-active {
    box-shadow: none;
}
.workspace-tab-header:hover {
    color: var(--tab-text-color-active);
}
.workspace .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button {
    display: flex;
    opacity: 0;
}
.workspace .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header:hover .workspace-tab-header-inner-close-button {
    opacity: 1;
}

/* Vertical tabs (like in settings) */

.vertical-tab-nav-item {
    border-radius: var(--radius-m);
    transition: var(--transition);
}
.vertical-tab-nav-item.is-active {
    box-shadow: var(--active-shadow);
    text-shadow: var(--active-text-shadow);
}

/* Metadata (properties) section */

.metadata-container {
    box-shadow: var(--card-shadow);
}
.metadata-properties-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    cursor: var(--cursor);
}
.metadata-properties-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1;
    font-size: var(--font-ui-medium);
    color: var(--text-muted);
}
.metadata-properties-heading .collapse-indicator {
    position: unset;
    order: 2;
    opacity: 1;
}
.metadata-content {
    margin-block-start: .5rem;
}
.metadata-property:not(:focus-within) * {
    cursor: var(--cursor);
}
input.metadata-property-key-input, input.metadata-property-key-input:focus-visible, input.metadata-input, input.metadata-input:focus-visible {
    box-shadow: none;
}

/* Prompt modals (quick switcher, command palette) */

input.prompt-input, input.prompt-input:hover, input.prompt-input:focus, input.prompt-input:focus-visible {
    /* Revert theme input styles */
    padding: var(--size-4-6);
    box-shadow: none;
    /* Correct (darker) border color */
    border-color: var(--sqrl-gray160);
}
.prompt-instructions {
    /* A bit more air */
    padding-block: var(--size-4-3);
}

/* Search */

@media (hover: hover) {
    .search-result-file-match:hover {
        /* Use correct hover colors instead of yellow background */
        color: var(--text-accent);
        background-color: var(--sqrl-gray160);
    }
}

/* Editor */


/* Consistent top/bottom paddings on heading in preview and source modes */
.cm-s-obsidian .cm-line.HyperMD-header {
    padding-top: 1rem;
    padding-block-end: 0.5rem;
}

/*
 * Remove top padding on the very first header on the page, and increase bottom
 * padding
 */
.cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-1 {
    padding-top: 0;
    padding-block-end: 1rem;
}

.HyperMD-list-line {
    /* Hide indentation guides on nested Markdown lists */
    --indentation-guide-width: 0;
}

.markdown-source-view.mod-cm6 .cm-hmd-list-indent-2 {
    /* Increase indentation of nested lists */
    width: 1.6rem;
}

/* A bit of space between a link text and an external link icon */
.external-link {
    padding-inline-end: 1rem;
}
.cm-formatting.external-link {
    padding-inline-start: 0.1rem;
}

.markdown-source-view.mod-cm6 .cm-link .cm-underline, .markdown-source-view.mod-cm6 .cm-url .cm-underline {
    text-decoration: underline;
    text-decoration-line: none;
    text-decoration-color: transparent;
    transition: var(--transition);
}
.markdown-source-view.mod-cm6 .cm-link .cm-underline:hover, .markdown-source-view.mod-cm6 .cm-url .cm-underline:hover {
    text-decoration-color: currentColor;
}

.cm-formatting-list {
  /* Extra space between a list marker and the text */
  padding-inline-end: 0.5rem;
}

/* Tables */

.markdown-source-view.mod-cm6 .cm-table-widget th, .markdown-source-view.mod-cm6 .cm-table-widget td {
    padding: .25rem .5rem;
}
.cm-html-embed td, .markdown-rendered td, .cm-html-embed th, .markdown-rendered th {
    border: 0;
}
.cm-html-embed tbody tr > td:not(:first-child), .markdown-rendered tbody tr > td:not(:first-child), .cm-html-embed thead tr > th:not(:first-child), .markdown-rendered thead tr > th:not(:first-child) {
    border-left: var(--table-border-width) solid var(--table-border-color);
}

.cm-html-embed table, .markdown-rendered table {
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
    border-radius: var(--radius-m);
    border: var(--table-border-width) solid var(--table-border-color);
}

.is-selected {
    /* Darker highlight background for selected items as they have white text */
    --text-highlight-bg: var(--sqrl-brightPink);
}

.notice-container .notice {
    /* Less distracting and more readable notification colors */
    color: var(--sqrl-gray080);
    background-color: var(--sqrl-gray160);
}

mjx-merror {
    /*
     * Math errors that sometimes appears in old notes, where source code isn't
     * wrapped in ``
     */
    color: var(--sqrl-redContrast) !important;
    background-color: var(--sqrl-redDimer) !important;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before {
    /*
     * Show blockquote side line on the padding to avoid overlapping with the
     * `>` character
     */
    inset-inline-start: -.3rem;
}

/* Show #s of headings on the side (like in Bear.app) to avoid shifting text */
.is-live-preview .cm-formatting-header {
  z-index: 100;
  position: absolute;
  right: 100%;
  white-space: nowrap;
  background-color: var(--background-primary);
}

/* Avoid shifting content when editing images */
.is-live-preview .cm-line.cm-line:has(.cm-formatting-image),
.is-live-preview .cm-line.cm-line:has(.cm-formatting-embed) {
    z-index: 100;
    height: 0;
}
.is-live-preview .cm-line.cm-line:has(.cm-formatting-image) > *,
.is-live-preview .cm-line.cm-line:has(.cm-formatting-embed) > * {
    padding-block: 0.3rem;
    background-color: var(--sqrl-gray180);
}
.is-live-preview .cm-line.cm-line:has(.cm-formatting-image) > *:first-child,
.is-live-preview .cm-line.cm-line:has(.cm-formatting-embed) > *:first-child {
    padding-inline-start: 0.2rem;
}
.is-live-preview .cm-line.cm-line:has(.cm-formatting-image) > *:last-child,
.is-live-preview .cm-line.cm-line:has(.cm-formatting-embed) > *:last-child {
    padding-inline-end: 0.2rem;
}

.cm-s-obsidian span.obsidian-search-match-highlight {
    /* Search highlighting in the editor */
    --text-accent: var(--sqrl-brightPink);
}
