<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>294A52DC-6FB9-4549-8665-D58FDE0223F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F9C47AF-FF7F-4A0D-BBC3-6F42EC85F4AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Artem Sapegin</string>
	<key>description</key>
	<string>Locks computer via hotkey</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lock</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>294A52DC-6FB9-4549-8665-D58FDE0223F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>3F9C47AF-FF7F-4A0D-BBC3-6F42EC85F4AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>294A52DC-6FB9-4549-8665-D58FDE0223F3</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>3F9C47AF-FF7F-4A0D-BBC3-6F42EC85F4AB</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://sapegin.me</string>
</dict>
</plist>
