<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.groenewege.faker</string>
	<key>connections</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8878A5AE-F355-4AF5-B2F5-CBE5B0E0974D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3A30ADE-6B85-43FC-9150-0392F2B268C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A3A30ADE-6B85-43FC-9150-0392F2B268C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F3FF27A-8C79-4D0A-8B72-9E163AFEE98D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>002F1C1E-C4D3-4A34-8E97-C3605E6BC4B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gunther Groenewege</string>
	<key>description</key>
	<string>generate fake data</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Faker v1.0.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();

$locale = $w-&gt;get( 'preferred.locale', 'settings.plist' );
if (!$locale) {
	$locale = 'en_EN';
}


require __DIR__.'/vendor/autoload.php';

$query = "{query}";

// use the factory to create a Faker\Generator instance
$faker = Faker\Factory::create($locale);
echo $faker-&gt;$query;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>faker</string>
				<key>subtext</key>
				<string>name, email, address, word, text, …</string>
				<key>text</key>
				<string>Generate fake data</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15299C7A-CDEA-4359-8898-446F2892DB7C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>copied to clipboard</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require( 'workflows.php' );
$w = new Workflows();

exec( 'touch settings.plist' );

$locale = "{query}";
$w-&gt;set( 'preferred.locale', $locale, 'settings.plist' );

echo 'Set preferred locale to '.$locale;
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A3A30ADE-6B85-43FC-9150-0392F2B268C5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>002F1C1E-C4D3-4A34-8E97-C3605E6BC4B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fakerlocale</string>
				<key>subtext</key>
				<string>en_EN, fr_FR, nl_BE, …</string>
				<key>text</key>
				<string>Choose your locale for Faker</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8878A5AE-F355-4AF5-B2F5-CBE5B0E0974D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5F3FF27A-8C79-4D0A-8B72-9E163AFEE98D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>002F1C1E-C4D3-4A34-8E97-C3605E6BC4B8</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>5F3FF27A-8C79-4D0A-8B72-9E163AFEE98D</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>8878A5AE-F355-4AF5-B2F5-CBE5B0E0974D</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A3A30ADE-6B85-43FC-9150-0392F2B268C5</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.groenewege.com</string>
</dict>
</plist>
