/* Hide very annoying animated audio indicator inside tabs */
/* TODO: Replace it with a static icon */
.tab-audio {
	display: none;
}
/* Restore the original favicon */
#browser:not(.alt-tabs)
	#tabs-container
	.tab:not(.pinned):not(.tab-small).audio-on
	.favicon {
	transform: scale(1);
}

/* Hide very annoying file number loading indicator */
.pageload-ticker {
	display: none;
}

/* Less contrast colors for the omnibox items */
.OmniDropdown {
	--colorFgFadedMore: #8c8792;
	--colorHighlightBg: #e9e9ef;
	--colorHighlightFg: #4b4a4d;
	--colorBgDarker: #d9d7dc;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 4px 0;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}

/* More whitespace for omni dropdown item, also show label "inline" with the
   URL, not in a separate column */
.OmniLinkItem {
	--item-height: 32px;
	display: flex;
	padding: 8px 9px;
	gap: 0;
	border-left: 3px solid transparent;
	border-radius: 0;
}
.OmniLinkItem--Highlighted {
	border-color: #9c9a9d;
}
.OmniLinkItem:not(.OmniLinkItem--Highlighted):hover {
	border-color: var(--colorBgDarker);
}
.OmniLinkItem-Favicon {
	margin-right: 4px;
}
.OmniLinkItem-DisplayText {
	margin-right: 8px;
}
.OmniLinkItem-Details {
	color: #727075;
}
.OmniLinkItem-Details::before {
	content: '  —  ';
}
.OmniLinkItem-EraseButton {
	margin-left: auto;
}

/* More prominent omni labels color */
.OmniDropdown-Label {
	color: #727075;
	opacity: 1;
	font-weight: bold;
}

/* Less distracting "permission denied" icon in the address bar */
.permission-denied circle {
	fill: #9c9a9d;
}

/* Disable dimming overlay when using find in page */
.find-in-page-wrapper:has(.find-in-page) + .row-wrapper .webpage > webview {
	filter: unset !important;
}
